* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.none {
  display: none; }

body::-webkit-scrollbar {
  width: 5px; }
  body::-webkit-scrollbar::-webkit-scrollbar-track {
    background-color: #fff; }

body::-webkit-scrollbar-thumb {
  background-color: #65e496; }

body {
  font-family: 'Roboto Slab', serif; }

.page-main {
  background-image: url(./../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.wrap {
  max-width: 1170px;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0px 166px 0px; }
  .header__logo {
    display: block;
    width: 137px;
    height: 30px;
    background-image: url(./../img/Logo.svg);
    background-repeat: no-repeat; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none;
    font-family: 'Open Sans', serif; }
    .header__list-item {
      margin: 0px 0px 0px 26px;
      padding-bottom: 5px;
      border-bottom: 3px solid transparent;
      -webkit-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
      .header__list-item:hover {
        border-bottom: 3px solid #65e496; }
    .header__list-link {
      text-decoration: none;
      color: #fff;
      letter-spacing: 0.5px;
      font-size: 15px;
      line-height: 24px; }
    .header__list-item.active {
      border-bottom: 3px solid #65e496; }

.block-text {
  -ms-flex-preferred-size: calc(100% - 500px);
      flex-basis: calc(100% - 500px);
  padding: 0px 0px 162px 0px; }
  .block-text__name {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    margin-bottom: 30px; }
  .block-text__name-top {
    margin-top: 16px; }
  .block-text__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px; }
    .block-text__title span {
      display: block;
      color: #65e496;
      font-size: 18px;
      margin-bottom: 50px; }
  .block-text__decription {
    font-family: 'Open Sans', serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 50px; }
  .block-text__btn {
    display: block;
    background-color: #65e496;
    color: #fff;
    text-decoration: none;
    max-width: 250px;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    padding: 18px 20px 18px 20px;
    margin-bottom: 23px;
    letter-spacing: 0.7px; }

.block-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .block-book-demo {
    display: block;
    background-image: url(./../img/book.svg);
    background-repeat: no-repeat;
    width: 447px;
    height: 643px;
    -ms-flex-preferred-size: 447px;
        flex-basis: 447px; }

.block-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 160px 0px 60px 0px; }
  .block-author__block-text {
    max-width: 572px;
    padding: 0px 0px 0px 0px; }

.block-ava {
  position: relative; }
  .block-ava__sub-img {
    position: absolute;
    z-index: -1;
    padding: 0px 0px 0px 0px;
    right: 0; }
  .block-ava__img {
    margin-top: 45px;
    margin-right: 45px; }

.block-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 160px 0px 160px 0px; }
  .block-counter p {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    text-align: center; }
    .block-counter p span {
      font-family: 'Roboto Slab', serif;
      display: block;
      font-size: 80px;
      line-height: 44px;
      font-weight: 100;
      color: #65e496;
      margin-bottom: 32px; }

.page-book-content {
  background-color: #f5f6fa;
  padding: 160px 0px 0px 0px; }
  .page-book-content__title {
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    margin-bottom: 25px; }
  .page-book-content__subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 4px;
    text-align: center;
    color: #65e496; }
  .page-book-content__block-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

/*# sourceMappingURL=main.css.map */