* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.none {
  display: none; }

body::-webkit-scrollbar {
  width: 5px; }
  body::-webkit-scrollbar::-webkit-scrollbar-track {
    background-color: #fff; }

body::-webkit-scrollbar-thumb {
  background-color: #65e496; }

body {
  font-family: 'Roboto Slab', serif;
  font-size: 15px; }

h3 {
  font-size: 24px; }

.page-main {
  background-image: url(./../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.page {
  padding: 160px 0px 160px 0px; }
  .page-gray {
    background-color: #f5f6fa; }
  .page__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px; }
  .page__subtitle {
    font-size: 18px;
    text-align: center;
    color: #65e496;
    letter-spacing: 0.9px; }

.wrap {
  max-width: 1170px;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0px 166px 0px; }
  .header__logo {
    display: block;
    width: 137px;
    height: 30px;
    background-image: url(./../img/Logo.svg);
    background-repeat: no-repeat; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none;
    font-family: 'Open Sans', serif; }
    .header__list-item {
      margin: 0px 0px 0px 26px;
      padding-bottom: 5px;
      border-bottom: 3px solid transparent;
      -webkit-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
      .header__list-item:hover {
        border-bottom: 3px solid #65e496; }
    .header__list-link {
      text-decoration: none;
      color: #fff;
      letter-spacing: 0.5px;
      font-size: 15px;
      line-height: 24px; }
    .header__list-item.active {
      border-bottom: 3px solid #65e496; }

.block-text {
  -ms-flex-preferred-size: calc(100% - 500px);
      flex-basis: calc(100% - 500px);
  padding: 0px 0px 162px 0px; }
  .block-text__name {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    margin-bottom: 30px; }
  .block-text__name-top {
    margin-top: 16px; }
  .block-text__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px; }
    .block-text__title span {
      display: block;
      color: #65e496;
      font-size: 18px;
      margin-bottom: 50px; }
  .block-text__decription {
    font-family: 'Open Sans', serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 50px; }
  .block-text__btn {
    display: block;
    background-color: #65e496;
    color: #fff;
    text-decoration: none;
    max-width: 250px;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    padding: 18px 20px 18px 20px;
    margin-bottom: 23px;
    letter-spacing: 0.7px; }

.block-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .block-book-demo {
    display: block;
    background-image: url(./../img/book.svg);
    background-repeat: no-repeat;
    width: 447px;
    height: 643px;
    -ms-flex-preferred-size: 447px;
        flex-basis: 447px; }

.block-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 60px 0px; }
  .block-author__block-text {
    max-width: 572px;
    padding: 0px 0px 0px 0px; }

.block-ava {
  position: relative; }
  .block-ava__sub-img {
    position: absolute;
    z-index: -1;
    padding: 0px 0px 0px 0px;
    right: 0; }
  .block-ava__img {
    margin-top: 45px;
    margin-right: 45px; }

.block-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 160px 0px 0px 0px; }
  .block-counter p {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    text-align: center; }
    .block-counter p span {
      font-family: 'Roboto Slab', serif;
      display: block;
      font-size: 80px;
      line-height: 44px;
      font-weight: 100;
      color: #65e496;
      margin-bottom: 32px; }

.block-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 82px; }
  .block-about h3 {
    margin-bottom: 20px;
    letter-spacing: 1.2px; }
  .block-about-text {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%; }
    .block-about-text__desc {
      font-family: 'Open Sans', serif;
      margin-bottom: 30px;
      letter-spacing: 0.6px; }
  .block-about-table {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%; }
    .block-about-table__list {
      counter-reset: list;
      margin: 0;
      -webkit-column-count: 2;
              column-count: 2;
      margin-bottom: 35px; }
      .block-about-table__list > li {
        position: relative;
        padding-left: 30px;
        counter-increment: list;
        list-style-type: none;
        margin-bottom: 10px;
        letter-spacing: 0.7px; }
        .block-about-table__list > li::before {
          content: counter(list) ". "; }
        .block-about-table__list > li::after {
          content: '+';
          position: absolute;
          left: 0;
          top: 2px;
          font-size: 15px;
          background-color: #5fc9b3;
          color: #fff;
          padding: 0 7px;
          line-height: 22px; }
    .block-about-table button {
      font-size: 18px;
      padding: 17px 30px;
      background-color: #65e496;
      border: none;
      color: #fff;
      border-radius: 3px; }
  .block-about-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .block-about-social__title {
      font-family: 'Roboto Slab', serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px; }
    .block-about-social__list {
      list-style-type: none;
      margin-left: 20px; }
      .block-about-social__list > li {
        display: inline-block;
        font-size: 18px;
        margin-right: 15px;
        vertical-align: middle; }
        .block-about-social__list > li > a {
          color: #65e496; }

/*# sourceMappingURL=main.css.map */